<div class="d-flex flex-row justify-content-evenly">
    <a href="{{ path('user_edit', {id: row.id }) }}" class="btn btn-light">
        <i class="fas fa-edit"></i>
    </a>
    <form method="post" action="{{ path('user_delete', {'id': row.id}) }}" onsubmit="return confirm('Étes-vous sure de vouloir supprimer?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete-user' ~ row.id) }}">
        <button class="btn btn-danger">
            <i class="fa fa-trash"></i>
        </button>
    </form>
</div>

{# edit : 
delete :  #}